/* section.calc > .container{
  text-align: left;
  align-items: start;
  height: 600;
}
 */






input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.w-container{
  width: 450px;
}
.w-container__header{
  margin-bottom: 5px;
  color: #8D8D8D;
}
.w-container__body{
  display: flex;
}


.w-container input{
  border: none;
  border-bottom: 1px solid #8D8D8D;
  color: #8D8D8D;
  background-color: transparent;
}
.w-container span.js-result{
  color: #8D8D8D;
  border-bottom: 1px solid #525252;
}


.w-container__body input, .w-container__body span.js-result{
  display: block;
  font-size: 14px;
  height: 35px;
  padding: 10px;
  outline: none;
}

.w-container__body input:hover, .w-container__body input:focus{
  color: #fff;
  border-bottom-color: #ffda3e;
}
.w-container__body input#js-currentLevel{
  width: 210px;
  margin-right: 10px;
}
.w-container__body input#js-fromLevel, .w-container__body input#js-toLevel{
  width: 100px;
  margin-right: 10px;
}
.w-container__body span.js-result{
  width: 200px;
  text-align: right;
}

.i-container{
  padding: 15px;
  width: 450px;
  text-align: center;
  color: #8D8D8D;
  font-size: small;
}


@media screen and (max-width: 640px){
  .w-container{width: 100%;}
  .w-container__body{flex-flow: column;}

  .w-container__body input#js-currentLevel,
  .w-container__body input#js-fromLevel, .w-container__body input#js-toLevel,
  .w-container__body span.js-result{width: 100%;}
}
