/*v2Beta*/
.header{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(0, 0%, 10%);
  height: 45px;
  user-select: none;
}
.nav{ 
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  max-width: 600px;
  margin: 0 auto;
}
.nav .nav-item, .nav .nav-menu{
  display: block;
  color: hsl(0, 0%, 60%);
  font-size: .75em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 0 15px;
  min-width: 45px;
  line-height: 45px;
  letter-spacing: 2px;
}
.nav .nav-item:first-of-type{
  background-color: var(--color-accent);
  color: hsl(0, 0%, 10%);
}
.nav .nav-item:last-of-type{margin-right: 0;}
.nav .nav-item:hover{/*, .nav .nav-menu:hover*/
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 10%);
}
/* .nav .nav-item:active{
  background-color: hsl(0, 0%, 50%);
  color: hsl(0, 0%, 10%);
} */
.nav .nav-menu{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(0, 0%, 10%);
  color: var(--color-accent);
  /* background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 10%); */
  width: 45px;
  height: 45px;
  font-size: .8125em;
}
@media screen and (max-width: 640px){
  .header{
    height: max-content;
  }
  .nav{
    justify-content: start;
    height: max-content;
    margin: 0;
    max-width: unset;
  }
  .nav.nav-show{flex-flow: column;}
  .nav .nav-item{display: none;}
  .nav .nav-item:first-of-type{display: block;}
  .nav.nav-show .nav-item{display: block;}
  .nav .nav-menu{display: block;}
  .nav .nav-menu::after{content: '☰'}
  .nav.nav-show .nav-menu::after{content: '🗙'}
}
