<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
  </head>
  <body>
        
    
<div class="uk-grid-collapse" uk-grid uk-height-viewport="expand: true">
  <div class="uk-width-expand">
    <div class="uk-section uk-section-muted uk-height-1-1">
      <div class="uk-container uk-container-small">
        <article class="uk-article">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
  </body>
</html>
