/*csslint box-sizing:false, universal-selector:false, fallback-colors:false, box-model:0*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  width: 100%;
}
body{
  background-color: rgb(77, 77, 77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header{
  align-items: center;
  align-self: center;
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  justify-content: center;
  min-height: 50px;
  padding: 0 10px;
  width: 520px;
}
.logo{
  background-color: rgb(74, 74, 74);
  border: 1px solid rgba(255, 255, 255, .2);
  color: rgb(120, 200, 120);
  cursor: default;
  font-family: monospace;
  height:30px;
  line-height: 30px;
  margin-right: 5px;
  text-align: center;
  user-select: none;
  width:40px;
}
.wikiForm{
  flex: 1;
}
.wikiInput{
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(120, 200, 120);
  color: #fff;
  height: 30px;
  padding: 5px;
  width: 100%;
}
.wikiInput:focus{
  border-color: rgb(120, 120, 200);
  outline: none;
}
.wikiInput:disabled{
  border-color: rgb(200, 120, 120);
}
.wikiInput::placeholder{
  color: rgba(255, 255, 255, .7);
}

.main{
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}


.ol{
  list-style: none;
  margin: 10px 0;
  width: 500px;
}
.ol li{
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5px;
}


li:last-child{
  margin-bottom: 0;
}
li span{
  background-color: rgb(104, 104, 104);
  border: 1px solid rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, .7);
  cursor: default;
  display: block;
  font-family: monospace;
  margin-right: 5px;
  padding: 5px 10px;
  text-align: center;
  user-select: none;
  width: 40px;
}
li a{
  background-color: rgb(95, 95, 95);
  border: 1px solid rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, .7);
  display: block;
  flex: 1;
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
}
li a:hover{
  color: rgb(120, 200, 120);
}
li a:visited{
  color: rgb(200, 120, 120);
}
li a::before{
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
li a:active::before{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
}

li a:empty::after{
  background-color: rgba(255,255,255,.2);
  border-radius: 3px;
  content: '';
  height: .3rem;
  position: absolute;
  top: 10px;
  width: 25%;
}
li a:empty:hover::after{
  background-color: rgba(120, 200, 120, .5);
}

.main::-webkit-scrollbar-track{
	background-color: transparent;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.main::-webkit-scrollbar{
  background-color: transparent;
	width: 6px;
}

.main::-webkit-scrollbar-thumb{
	background-color: rgb(42, 42, 42);
}

@media screen and (max-width: 500px){
  .ol{
    padding: 0 10px;
    width: 100%;
  }

  body{
    justify-content: flex-start;
  }
  .header{
    width: 100%;
  }
  .main{
    flex: 1;
  }
}
